@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --main-color: rgb(35, 228, 99);
}

* {
    color: white;
    font-family: Montserrat;
    user-select: none;
}

*:disabled {
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-color);
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 29);
}

#GIcon {
    mask-image: url('../Images/Icon.png');
    mask-size: contain;
    background-color: var(--main-color);
}

#G_balance {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    font-size: 30px;
    background-color: #262631;
    padding: 5px 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}