@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: rgb(35, 228, 99);
}


* {
    font-family: Montserrat;
    user-select: none;
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 29);
}

h1 {
    color: var(--main-color);
}

#grid {
    width: 500px;
    height: 500px;
    background-color: rgb(34, 34, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#grid>div {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(6, 70px);
    grid-template-rows: repeat(6, 70px);
}

#grid>div>div {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
    background-color: rgb(44, 44, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    color: var(--main-color);
    transition: 250ms;
}

#grid>div>div:hover {
    box-shadow: 0px 0px 5px 5px var(--main-color);
}

#grid>div>div>canvas {
    top: 0;
    left:0;
    position: absolute;
    transition: 250ms;
}

canvas.hide {
    opacity: 0;
}
div.hide {
    cursor: default !important;
    box-shadow: none !important;
}

.row {
    height: 50px;
    width: 500px;
    border-radius: 8px;
    background-color: rgb(34, 34, 44);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row > * {
    height: 70%;
    outline: none;
    border: none;
    padding: 0;
    margin: 0 10px;
    border-radius: 4px;
}

#bet input {
    background-color: rgb(22, 25, 31);
    width: 80%;
    text-align: center;
    color: white;
}

.row button {
    font-weight: 600;
    font-size: 16px;
    background-color: var(--main-color);
    outline: none;
    border: none;
    width: 30%;
    cursor: pointer;
    transition: 250ms;
}

.row button:hover {
    opacity: 0.9;
}

#winnings h3 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button:disabled {
    cursor: not-allowed;
    background-color: rgb(92, 92, 92) !important;
}