@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --main-color: rgb(35, 228, 99);
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background: rgb(22, 22, 29);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  color: var(--main-color);
}
/*
.row {
  height: 50px;
  width: 500px;
  border-radius: 8px;
  background-color: rgb(34, 34, 44);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row > *:not(.roulette-wheel) {
  height: 70%;
  outline: none;
  border: none;
  padding: 0;
  margin: 0 10px;
  border-radius: 4px;
}

#bet input {
  background-color: rgb(22, 25, 31);
  width: 80%;
  text-align: center;
  color: white;
}

.row button {
  font-weight: 600;
  font-size: 16px;
  background-color: var(--main-color);
  outline: none;
  border: none;
  width: 30%;
  cursor: pointer;
  transition: 250ms;
}

.row button:hover {
  opacity: 0.9;
}

#winnings h3 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button:disabled {
  cursor: not-allowed;
  background-color: rgb(92, 92, 92) !important;
}*/

.roulette-wheel {
  --_items: 15;
  all: unset;
  aspect-ratio: 1 / 1;
  background: crimson;
  container-type: inline-size;
  direction: ltr;
  display: grid;
  place-content: center start;
  padding:12px;
}

.roulette-wheel > li {
  align-content: center;
  background: deepskyblue;
  display: grid;
  font-size: 5cqi;
  grid-area: 1 / -1;
  list-style: none;
  padding-left: 1ch;
  transform-origin: center right;
  padding:1rem;
  width: 50cqi;

  &:nth-of-type(1) { --_idx: 1; }
  &:nth-of-type(2) { --_idx: 2; }
  &:nth-of-type(3) { --_idx: 3; }
  &:nth-of-type(4) { --_idx: 4; }
  &:nth-of-type(5) { --_idx: 5; }
  &:nth-of-type(6) { --_idx: 6; }
  &:nth-of-type(7) { --_idx: 7; }
  &:nth-of-type(8) { --_idx: 8; }
  &:nth-of-type(9) { --_idx: 9; }
  &:nth-of-type(10) { --_idx: 10; }
  &:nth-of-type(11) { --_idx: 11; }
  &:nth-of-type(12) { --_idx: 12; }
  &:nth-of-type(13) { --_idx: 13; }
  &:nth-of-type(14) { --_idx: 14; }
  &:nth-of-type(15) { --_idx: 15; }
  rotate: calc(360deg / var(--_items) * calc(var(--_idx) - 1));
}
