@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-color: rgb(35, 228, 99);
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background: rgb(22, 22, 29);
  display: flex;
  align-items: center;
  justify-content: space-evenly !important;
  flex-direction: row !important;
  overflow: hidden;
}

h1 {
  color: var(--main-color);
}


.row {
  height: 50px;
  width: 500px;
  border-radius: 8px;
  background-color: rgb(34, 34, 44);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row>*:not(.roulette-wheel) {
  height: 70%;
  outline: none;
  border: none;
  padding: 0;
  margin: 0 10px;
  border-radius: 4px;
}

.row.large {
  height: 100px;
}

#bet input {
  background-color: rgb(22, 25, 31);
  width: 80%;
  text-align: center;
  color: white;
}

.row button {
  font-weight: 600;
  font-size: 16px;
  background-color: var(--main-color);
  outline: none;
  border: none;
  width: 30%;
  cursor: pointer;
  transition: 250ms;
}

.row button:hover {
  opacity: 0.9;
}

#winnings h3 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button:disabled {
  cursor: not-allowed;
  background-color: rgb(92, 92, 92) !important;
}

.roulette-wheel {
  --_items: 32;
  all: unset;
  background: rgb(26, 26, 26);
  aspect-ratio: 1 / 1;
  width: 35vw;
  container-type: inline-size;
  direction: ltr;
  display: grid;
  place-content: center start;
  clip-path: inset(0 0 0 0 round 50%);
}

.roulette-wheel>li {
  align-content: center;
  display: grid;
  font-size: 5cqi;
  grid-area: 1 / -1;
  list-style: none;
  padding-left: 1ch;
  transform-origin: center right;
  padding: 1rem;
  width: 50cqi;
  --_idx: attr(data-idx);
  height: calc((2 * pi * 50cqi) / var(--_items));
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.roulette-wheel>li:nth-child(1) {
  background: rgb(3, 173, 3);
  color: white;
}

.roulette-wheel>li:nth-child(odd):not(.zero) {
  background: rgb(253, 39, 39);
}

.roulette-wheel>li:nth-child(even) {
  background: rgb(19, 19, 19);
  color: white;
}

.wheel-container {
  position: relative;

}

button.spin {
  aspect-ratio: 1 / 1;
  background: hsla(0, 0%, 100%, 1);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button.spin::before {
  content: '';
  position: absolute;
  left: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 10px 8px 0;
  /* Arrow dimensions: top right bottom left */
  border-color: transparent hsla(0, 0%, 100%, 1) transparent transparent;
  /* Arrow color */
}

.bet-grid {
  display: grid;
  grid-template-columns: repeat(8, calc(600px / 8));
  grid-template-rows: repeat(5, calc(400px / 5));
  margin-bottom: 10px;
  border-radius: 8px;
  background: #22222c;
  padding: 0.5rem;
  border-radius: 8px;
}

.bet-grid>.grid-item {
  padding: 0.25rem;
  background: rgb(34, 34, 44);
  margin: 2px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.bet-grid>.grid-item.red {
  background: rgb(253, 39, 39);
}

.bet-grid>.grid-item.black {
  background: rgb(19, 19, 19);
}

.bet-grid>.grid-item.zero {
  background: rgb(3, 173, 3);
}

.bet-grid>.grid-item>span {
  font-size: 2rem;
  color: rgb(231, 231, 231);
}

.bet-grid>.grid-item>div.chips {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.chips-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.chip {
  aspect-ratio: 1 / 1;
  width: calc(600px / 8 - 16px);
  height: calc(600px / 8 - 16px);
  background: white;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px dashed black;
  color: black;
}

.chip.red {
  background: rgb(235, 26, 26);
  border: 4px dashed white;
  color: white;
}

.chip.blue {
  background: rgb(63, 63, 240);
  border: 4px dashed white;
  color: white;
}

.chip.green {
  background: rgb(20, 122, 20);
  border: 4px dashed white;
  color: white;
}

.chip.black {
  background: black;
  border: 4px dashed white;
  color: white;
}

.gu-mirror {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Add shadow */
  opacity: 0.9;
  /* Make it slightly transparent */
  border: 1px solid #ddd;
  /* Optional: adds an outline */
  cursor: grabbing;
  /* Show grabbing cursor */
}

.gu-transit {
  opacity: 0.6;
  /* Optional: fades out the placeholder */
}

.modal {
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  display:none;
  justify-content: center;
  align-items: center;
  z-index:2;
  background:rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
}

.modal-content {
  padding:0.5rem;
  background:rgb(34, 34, 44);
  border-radius:8px;
  width:33%;
  height:33%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal-content > h1 {
  font-size: 4rem;
  color:white;
}

.modal-content > h2 {
  color:var(--main-color);
}

.modal-content > button {
  padding:0.5rem;
  background:var(--main-color);
  border:none;
  border-radius:8px;
  font-size:1.25rem;
  font-weight: 700;
  color:rgb(34, 34, 44);
  cursor: pointer;
}